html{
    background: url("background.jpg") no-repeat;
	background-size: cover;
    min-height: 100%;
}

body{
    background:none;
}

#busqueda{
    background-color: rgb(17, 16, 16);
    max-width: 800px;
    margin: 160px auto 0;
    padding: 40px;
    color: #e0e5e7;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

#busqueda h2{
    text-align: center;
    padding-bottom: 20px;
    margin: 10px 20px;
    font-size: 24px;
}

#busqueda hr{
    margin-top: 38px;
    margin-bottom: 54px;
    margin-left:3px;
    border: 1px solid #cccccc;

}

#busqueda .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}

#busqueda .form-control{
    padding: 12px 20px;
    height: auto;
    border-radius: 2px;
}

#busqueda .radio-inline{
    margin-left: 10px;
    margin-right: 10px;
}

#busqueda .gender{
    width: 30%;
    margin-top: 30px;
    padding-left: 20px
    padding-top: 5px;
    padding-bottom: 5px;
}

#busqueda .btn{
    width: 46%;
    background-color: gray;
    border: gray;
    margin: 20px auto 0;
    display: block;
    outline: none;
}


